.tab-options{
    box-shadow: rgb(232 232 232) 0px -0.5px 0px inset;
}

.option-wrapper{
    display: flex;
}


.tab-name{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--inactive-text);
    margin: 2rem;
}

.active-tab{
    border-bottom: 2px solid var(--zomato-red);
    color: var(--zomato-red);
}