.card{
    border-radius: 0.5rem;
    border: 1px solid rgb(230, 230, 230);
    transition: all 0.4s ease;
}
.card:hover{
    transform: scale(1.05);
}

.collection-cover-img{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 22rem;
    height: 14rem;
    object-fit: cover;
}

.collection-title-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;    
    height: 3.8rem;
    font-size: 1.4rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}