@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&family=Sansita+Swashed:wght@300&display=swap');
@import '../src/style/commonClass.css';
@import '../src/style/variable.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
